.Header{
    width: 100%;
    background: white;
    overflow: hidden;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    height: auto;
}   

.header-portion-1{
    font-size: 1.2vw;
    display: grid;
    align-items: center;
    justify-items: center;
}

#header-1{
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    
}

#header-2{
    display: grid;
    align-items: center;
    justify-items: center;
}

#logo{
    width: 100%;
    height: auto;
}

#header-3{
    width: 15vw;
    padding-right: 15px;
    justify-self: end;
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-gap: 5px;
    justify-items: center;
}

.header-portion-3{
    display: grid;
    align-items: center;
}

#signIn{
    width: 100%;
    height: auto;
    color: white;
    background-color: #eb4034;
    text-align: center;
}

